#cookieNoticeContainer > div > div > span > a {
  color: #fff;
}

#cookieNoticeContainer > div > div > button {
  font-size: 1em;
}

#cookieNoticeContainer > div > div> span > svg {
  font-size: 1.4em;
  margin-right: 10px;
}
