#about-instructions-section {
  padding: 20px;
}

#instructions-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#instructions-content > #instruction-card {
  max-width: 500px;
  min-width: 300px;
  margin: 10px;
}

#instruction-img {
  width: 275px;
  margin: 0 auto;
}

#instruction-img-3-container {
  height: 530px;
  overflow: hidden;
}

@media (min-width: 800px) {
  #instruction-img-3-container {
    height: 485px;
  }

  #instructions-content > #instruction-card {
    margin: 40px;
  }

}
