#about-description-card {
  padding: 20px;
  max-width: 600px;
}

#about-description-section {
  background-color: #E3F2FD;
  display: flex;
  justify-content: center;
  padding: 40px;
}

@media (min-width: 800px) {

  #about-description-section {
    padding: 60px;
  }

  #about-description-card {
    padding: 60px;
    max-width: 800px;
  }

}
