#about-title-section {
  padding: 20px;
}
#title-small {
  display: block;
}
#title-big {
  display: none;
}


@media (min-width: 800px) {
  #title-small {
    display: none;
  }
  #title-big {
    display: block;
  }
  #about-title-section {
    padding: 50px;
  }
}
