#metamaskGuideContainer {
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
  margin: 0 auto;
  max-width: 800px;
}

#metamask-desktop-and-mobile {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#metamask-mobile {
  width: 100%;
  margin: 0 0 10px 0;
}

#metamask-desktop {
  width: 100%;
  margin: 10px 0 0 0;
}

#metamask-image {
  display: flex;
  justify-content: center;
}

@media (min-width: 800px) {

  #metamask-desktop-and-mobile {
    flex-wrap: nowrap;
  }

  #metamask-mobile {
    margin: 0 10px 0 0;
  }

  #metamask-desktop {
    margin: 0 0 0 10px;
  }

}
